/* Global layout setting */

.container {
    position: relative;
    padding: 0 !important;
    min-height: calc(100vh - $footer-height - $content-padding);
    width: 100%;
}

.jumbotron {
    @extend %no-spacing;
    background-color: rgba($color-gray-dark-10, $bg-opacity-01);
    border-radius: 1px;
    padding-left: $content-padding;
    padding-right: $content-padding;
    margin: 0;
    overflow: hidden;
}

.position-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: $content-padding;
    transform: translate(-50%, -50%);
    overflow: auto;
}

hr {
    border-top: 2px solid $color-orange-normal;
    margin: $content-padding 0 $content-padding 0;
}