/* Global layout setting */

.container {
    @extend %no-spacing;
    height: 100%;
    width: 100%;
    position: relative;
}

.jumbotron,
.container .jumbotron {
    @extend %no-spacing;
    background-color: rgba($color-gray-dark-10, .95);
    border-radius: 1px;
    padding-left: $content-padding;
    padding-right: $content-padding;
    overflow: hidden;
}

.position-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: $content-padding;
    transform: translate(-50%, -50%);
    overflow: auto;
}