/* Footer */
footer {
    &.plain-form {
        background-color: transparent;
        text-align: center;
        color: $color-gray-light-50;
        padding: $content-padding;
        padding-bottom: 0;
    }

    &.master-layout {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: $footer-height;
        background-color: red;
    }
}