html, body
{
    @extend %no-spacing;
    height: 100%;
}

html
{
    overflow-y: scroll;
}

body
{
    background-color: $purple-02;
    font-size: $font_size_def;
    color: $context-color;
}

::selection
{
    background: $orange_02;
}
::-moz-selection
{
    background: $orange_02;
}
::-o-selection
{
    background: $orange_02;        
}
::-ms-selection
{
    background: $orange_02;        
}
::-webkit-selection
{
    background: $orange_02;        
}

/* Let's get this party started */
::-webkit-scrollbar
{
    width: 15px;
}
/* Track */
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $purple_01;
}
/* Handle */
::-webkit-scrollbar-thumb
{
    background: $purple_03; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive
{
	background: $purple_03; 
}

/* Page Pre Loader */
#pageloader-wrapper
{
    z-index: 1000;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: $purple_01;
    
    img
    {
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: auto;
        @include animation(spin 500ms linear infinite);
    }
}