.master-wrapper-left {
    background-color: rgba($color-gray-dark-10, $bg-opacity-02);
    //
    height: 100%;

    .logo-wrapper {
        width: 100%;
        text-align: center;

        .logo {
            max-width: 150px;
        }
    }
}

.master-wrapper-right {
    background-color: rgba($color-gray-dark-10, $bg-opacity-02);
    //
    height: 60px;

    .header-wrapper {
    }

    .content-wrapper {
    }
}