.form-middle-wrapper {
    @extend %no-spacing;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: $body-margin;
    // LOGO padding
    padding: $content-padding;
    padding-top: 50px;

    @media (max-width: 991px) {
        & {
            width: 100%;
            position: relative;
            top: inherit;
            left: inherit;
            transform: none;
            // LOGO padding
            padding-top: 25px;
        }
    }

    &.col-lg-form-middle-max {
        @media (min-width: 1200px) {
            &.col-lg-5 {
                width: 700px !important;
            }
        }
    }

    .logo {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform-origin: center;
        max-width: 125px;
        transition: transform .6s;
        
        @media (max-width: 991px) {
            & {
                max-width: 75px;
            }

            &:hover {
                transform: rotate(5deg);
            }
        }

        &:hover {
            transform: rotate(5deg);
        }
    }

    .jumbotron {
        padding: $content-padding;

        .form-wrapper {
            background-color: $color-gray-dark-20;

            .supplement-wrapper {
                @extend .gc-float-right;

                @extend .gc-text-right;

                font-size: $font-size-small;
            }
        }

        .form-second-wrapper {
            @extend .gc-float-right;
            position: relative;
            border-radius: $border-radius;
            padding-right: 0;
        }

        .head-spacer {
            margin-top: 60px;
        }
    }
}
