Options -MultiViews
RewriteEngine On

RewriteBase /School/zcu_kiv_web_seminar/public

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]