.event-new-form {
    .section-wrapper {
        .section-box {
            background-color: rgba($color-gray-dark-20, 0.5);
            border: 2px solid $color-gray-light-10;
            padding: $content-padding;
        }
    }
}