.server-join-page {
    text-align: center;

    .server-name {
        display: block;
        font-size: $font-size-big;
        color: $color-orange-normal;
        margin-bottom: $content-padding;
    }

    button {
        float: none;
    }
}