.event-preview-wrapper {
    .title-box {
        strong {
            font-size: $font-size-big;

            span {
                background-color: $color-gray-dark-30;
                padding: ($content-padding / 2) $content-padding ($content-padding / 2) $content-padding;
                margin-right: $content-padding / 2;
            }
        }
    }

    .info-box {
        .timing,
        .details {
            float: left;
            margin-top: 10px;
            font-size: $font-size-base;

            & > span {
                display: block;
                color: $color-clouds;
                font-weight: bold;

                span {
                    color: $color-orange-normal;
                    text-transform: uppercase;

                    &.__cred {
                        color: $color-red-normal;
                    }
                }

                b {
                    color: $color-gray-light-40;
                }
            }

            .edit-btn {
                float: right;
                font-size: $font-size-base;

                &:hover {
                    color: $color-orange-normal;
                }
            }

            .delete-form {
                position: relative;
                float: right;
                margin: 0;
                margin-left: $content-padding / 2;

                .delete-btn {
                    z-index: 1;
                    position: relative;
                    padding: 0;
                    outline: 0;
                    background: 0;
                    border: 0;
                    font-size: $font-size-base;
                    color: $color-red-normal;

                    &:hover {
                        color: darken($color-red-normal, 15%);
                    }

                    &:active {
                        color: darken($color-red-normal, 5%);
                    }

                    & + div {
                        z-index: 1;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        background-color: transparent;

                        &:hover {
                            @include gradient(transparent, (to right, rgba($color-gray-dark-10, 0.7) 0%, rgba($color-gray-dark-10, 0.2) 100%));
                        }
                    }
                }
            }
        }

        .details {
            float: right;
            text-align: right;
        }
    }

    .desc-box {
        margin-top: $content-padding;

        .title {
            font-size: $font-size-base;
            color: $color-orange-normal;
            text-transform: uppercase;
            font-weight: bold;
        }

        p {
            font-size: $font-size-small;
        }
    }

    .rating-box {
        margin-top: $content-padding;
        background-color: rgba($color-gray-dark-20, 0.5);
        border: 2px solid $color-gray-light-10;
        padding: $content-padding;

        .title {
            font-size: $font-size-base;
            color: $color-orange-normal;
            font-weight: bold;
            text-transform: uppercase;
        }

        p {
            padding: 0;
            margin: 0;
            font-size: $font-size-small;
        }
    }

    .button-box {
        position: relative;
        margin-top: $content-padding;
        text-align: center;
        margin-bottom: $content-padding;

        .join-leave-form {
            position: relative;
            margin-bottom: $content-padding;

            input[type=submit] {
                &.__green {
                    margin-bottom: 22px;
                    display: inline-block;
                }

                & + .overlay-group-name {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    pointer-events: none;

                    span {
                        font-size: $font-size-small;
                        color: $color-clouds;
                        background-color: $color-gray-dark-20;
                        padding: 2px 5px 2px 5px;
                        border-bottom-left-radius: 1px;
                        border-bottom-right-radius: 1px;
                        border: 1px solid $color-green-normal;
                    }
                }

                &[name=join_event] {
                    margin-top: $content-padding;
                    margin-bottom: $content-padding;
                }
            }

            .pop-box {
                position: absolute;
                top: -14px + $content-padding;
                left: 0;
                right: 0;

                .pop-textarea-btn {
                    padding: 4px 6px 4px 6px;
                    font-size: $font-size-small;
                    color: $color-clouds;
                    background-color: darken($color-green-normal, 10%);
                    box-shadow: 0 0 7px $color-gray-dark-30;
                    border-radius: 30px;

                    &:hover {
                        background-color: lighten($color-gray-dark-20, 5%);
                    }
                }
            }
        }
    }

    .event-table-box {
        .table-menu-wrapper {
            background-color: $color-gray-dark-20;
        }

        #nav-section {
            a {
                white-space: nowrap;

                & > b {
                    font-size: $font-size-small;
                    background-color: rgba($color-gray-dark-30, 0.5);
                    padding: 2px 10px 2px 10px;
                    margin-left: 2px;
                }
            }
        }

        .table-wrapper {
            tr.__delimiter td {
                color: $color-red-normal;
                font-weight: bold;
            }

            .event-participation-yes,
            .event-participation-no {
                cursor: pointer;
            }

            .event-participation-yes {
                color: $color-green-normal;

                &:hover {
                    color: lighten($color-green-normal, 5%);
                }

                &:active {
                    color: darken($color-green-normal, 5%);
                }
            }

            .event-participation-no {
                color: $color-red-normal;

                &:hover {
                    color: lighten($color-red-normal, 5%);
                }

                &:active {
                    color: darken($color-red-normal, 5%);
                }
            }

            .notice {
                color: $color-clouds;
                text-shadow: 0 0 7px $color-orange-light-20;
            }
        }
    }
}
