.server-group-settings-wrapper {
    & .user-wrapper {
        margin-top: $content-padding;
        &:first-child { margin-top: 0; }

        .name-box {
            position: relative;
            line-height: 42px;
            white-space: nowrap;

            .on-group-update-snack {
                line-height: initial;
                position: absolute;
                bottom: 0;
                left: 0;

                font-size: 10px;
                color: $color-green-normal;
            }
        }
        .group-box {
            font-size: $font-size-base;
            line-height: 42px;
            color: $color-gray-light-50;

            span {
                display: block;
                background-color: $color-gray-light-20;
                padding-left: $content-padding + 2px;
                font-size: $font-size-small;
            }
        }
    }
}