.gc-hidden
{
    display: none;
}

.gc-hidden-i
{
    display: none !important;
}

.gc-hidden-overflow
{
    overflow: hidden;
}

.gc-hidden-scrollbar::-webkit-scrollbar
{
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.gc-cleaner {
    clear: both;
}

.gc-text-center {
    text-align: center;
}

.gc-text-right {
    text-align: right;
}

.gc-text-left {
    text-align: left;
}

.gc-block-center {
    display: block;
    margin: auto;
}

.gc-float-left {
    float: left;
}

.gc-float-right {
    float: right;
}

.gc-col-nosp-left {
    padding-left: 0;
}

.gc-col-nosp-right {
    padding-right: 0;
}

.g-recaptcha {
    transform:scale(0.77);
    transform-origin:0 0;
    width: 232px;
}