.gc-hidden
{
    display: none;
}

.gc-hidden-i
{
    display: none !important;
}

.gc-hidden-overflow
{
    overflow: hidden;
}

.gc-hidden-scrollbar::-webkit-scrollbar
{
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.gc-cleaner {
    clear: both;
}

.gc-position-relative {
    position: relative;
}

.gc-block-center {
    display: block;
    margin: auto;
}

.gc-float-left {
    float: left;
}

.gc-float-right {
    float: right;
}

.gc-col-nosp-left-xs {
    padding-left: 0;

    @media screen and (max-width: 768px) {
        padding-right: 0;
    }
}

.gc-col-nosp-left {
    padding-left: 0;
}

.gc-col-nosp-leftm {
    @extend .gc-col-nosp-left;
    padding-right: $content-padding / 2;
}

.gc-col-nosp-right-xs {
    padding-right: 0;

    @media screen and (max-width: 768px) {
        padding-left: 0;
    }
}

.gc-col-nosp-rightm-xs {
    @extend .gc-col-nosp-rightm;

    @media screen and (max-width: 768px) {
        padding-left: 0;
    }
}

.gc-col-nosp-leftm-xs {
    @extend .gc-col-nosp-leftm;

    @media screen and (max-width: 768px) {
        padding-right: 0;
    }
}

.gc-col-nosp-right {
    padding-right: 0;
}

.gc-col-nosp-rightm {
    @extend .gc-col-nosp-right;
    padding-left: $content-padding / 2;
}

.gc-col-nosp {
    @extend .gc-col-nosp-left;
    @extend .gc-col-nosp-right;
}

.gc-width-100 {
    width: 100%;
}

.gc-no-margin-bottom {
    margin-bottom: 0 !important;
}

.gc-margin-top {
    margin-top: $content-padding;
}

.gc-margin-bottom {
    margin-bottom: $content-padding;
}

.gc-margin-bottom-xsonly {
    @media screen and (max-width: 768px) {
        margin-bottom: $content-padding;
    }
}

.g-recaptcha {
    transform:scale(0.77);
    transform-origin:0 0;
    width: 232px;
}