.dashboard-wrapper {
    @extend %no-spacing;
    padding: $content-padding / 2;
    
    div.column-master-wrapper {
        padding: 0;

        div.column-wrapper {
            //border: 1px solid red;
            //background-color: rgba(blue, .1);
            padding: $content-padding / 2;

            & > div {
                background-color: rgba($color-gray-dark-10, $bg-opacity-01);
                padding: $content-padding;

                & > h2 {
                    font-size: $font-size-big;
                    text-align: center;
                    margin: 0 0 $content-padding 0 !important;
                }
            }
        }
    }
}