/* Global buttons */
.btn-primary {
    text-transform: uppercase;
}

.pill-box {
    padding: $content-padding / 2 !important;
    
    ul {
        li {
            margin: 0;
            display: block;
            height: calc(42px + ($content-padding / 2));
            text-align: center;
            padding: $content-padding / 2 !important;

            a {
                padding: 5px 10px 5px 10px;
                height: calc(42px + ($content-padding / 2));
                line-height: calc(44px + ($content-padding / 2));
                color: $color-clouds;
                font-size: $font-color-base;
                font-weight: bold;
                text-transform: lowercase;
                border-radius: 0 !important;
                background-color: $color-gray-light-20 !important;
                
                &:hover {
                    background-color: lighten($color-gray-light-20, 5%) !important;
                }
            }

            &.active {
                & > a {
                    background-color: $color-orange-normal !important;
                    
                    &:hover {
                        background-color: lighten($color-orange-normal, 5%) !important;
                    }
                }
            }

            &.--w33     { width: 33.333%; }
            &.--w50     { width: 50%; }
            &.--w100    { width: 100%; }

            &.__button {
                & > a {
                    background-color: $color-orange-normal !important;
                    
                    &:hover {
                        background-color: lighten($color-orange-normal, 5%) !important;
                    }
                    
                    &:active {
                        background-color: darken($color-orange-normal, 5%) !important;
                    }
                }
            }
        }
    }
}
