/* Global Forms */

form > div.form-feedback {
    color: $color-green-normal;
    font-size: $font-size-small;
    margin-bottom: $content-padding;

    &:empty {
        margin-bottom: 0;
    }

    &.__success {
        color: $color-green-normal;
    }

    &.__error {
        color: $color-red-normal;
    }
}

form.form-horizontal {
    margin-bottom: 0;
}

div.form-group {
    margin-bottom: 15px;

    &.has-error {
        input::placeholder, textarea, label {
            color: $color-red-normal;
            border-color: $color-red-normal;
        }

        & div.form-feedback {
            color: $color-red-normal;
        }
    }

    &.has-success {
        input::placeholder, textarea, label {
            color: $color-green-normal;
            border-color: $color-green-normal;
        }
    }

    & div.form-feedback {
        clear: both;
        font-size: $font-size-small;
    }
}

input[type=email],
input[type=text],
input[type=number],
input[type=file],
select.form-control,
input[type=password] {
    border-color: $color-gray-light-20;
    background-color: $color-gray-light-20;
    color: $font-color-base;

    &:focus {
        border-color: $color-gray-light-30;
        background-color: $color-gray-light-30;
        color: $font-color-focus;
    }

    &.__input-dark {
        border-color: $color-gray-light-10;
        background-color: $color-gray-light-10;
        color: $font-color-base;

        &:focus {
            border-color: $color-gray-light-20;
            background-color: $color-gray-light-20;
            color: $font-color-focus;
        }
    }
}

select.form-control {
    & > option {}
}

label {
    & > .info {
        font-style: italic;
        font-size: 12px;
        color: $color-gray-light-50;
    }

    &.control-label {
        line-height: 36px;
        height: 42px;
        padding-right: 0px;
    }
}
