@mixin ttip-arrow-color($color) {
    &.top > .tooltip-arrow {
        border-top-color: $color;
    }

    &.left > .tooltip-arrow {
        border-left-color: $color;
    }

    &.right > .tooltip-arrow {
        border-right-color: $color;
    }

    &.bottom > .tooltip-arrow {
        border-bottom-color: $color;
    }
}

.ttip {
    & + .tooltip,
    &.tt-cont-body.tooltip {
        opacity: 1;

        & > .tooltip-inner {
            font-family: $font_common;
            font-size: $font_size_def;
            color: $context_color;
            border-radius: 0;
        }
    }

    &.--tt-darkest {
        & + .tooltip,
        &.tt-cont-body.tooltip {
            & > .tooltip-inner {
                background-color: rgba($purple_01, 0.9);
            }

            @include ttip-arrow-color($purple_01);
        }
    }

    &.--tt-darker {
        & + .tooltip,
        &.tt-cont-body.tooltip {
            & > .tooltip-inner {
                background-color: rgba($purple_02, 0.9);
            }

            @include ttip-arrow-color($purple_02);
        }
    }

    &.--tt-dark {
        & + .tooltip,
        &.tt-cont-body.tooltip {
            & > .tooltip-inner {
                background-color: rgba($purple_03, 0.9);
            }

            @include ttip-arrow-color($purple_03);
        }
    }

    &.--tt-light {
        & + .tooltip,
        &.tt-cont-body.tooltip {
            & > .tooltip-inner {
                background-color: rgba($purple_05, 0.9);
                color: $purple_01;
            }

            @include ttip-arrow-color($purple_05);
        }
    }

    &.--tt-fat {
        & + .tooltip,
        &.tt-cont-body.tooltip {
            & > .tooltip-inner {
                padding: 15px;
            }
        }
    }

    &.--tt-thick {
        & + .tooltip,
        &.tt-cont-body.tooltip {
            & > .tooltip-inner {
                padding: 10px;
            }
        }
    }

    &.--tt-uppercase {
        & + .tooltip,
        &.tt-cont-body.tooltip {
            & > .tooltip-inner {
                text-transform: uppercase;
            }
        }
    }

    &.toggle-tt-nickname-username-overlay {
        color: $sub_context_color !important;
    }
}
